@charset "UTF-8";

body,
div,
dlv,
p,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  border-style: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

a {
  color: blue;
  text-decoration: underline;
}

/* a:active, a:hover {text-decoration:underline;} */
/* a:active {background-color:transparent;} */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b,
strong {
  font-weight: bolder;
}

@font-face {
  font-family: "Pretendard Medium";
  src: url("./images/PRETENDARD-MEDIUM.OTF");
  font-style: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Regular";
  src: url("./images/PRETENDARD-REGULAR.OTF");
  font-style: normal;
  font-style: normal;
}

.left_sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  min-height: 100%;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(101, 101, 101, 0.3);
}

.profile_img {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  padding: 30px 0 20px 0;
}

.profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.profile_title {
  text-align: center;
}

.profile_title a {
  font-size: 18px;
  color: #242424;
  font-family: "Pretendard Medium";
  text-shadow: 2px 2px 4px rgba(235, 235, 235, 0.2);
  text-decoration: none;
}

.profile_desc {
  font-size: 13px;
  font-family: "Pretendard Regular";
  color: #434343;
  padding-top: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(235, 235, 235, 0.2);
  text-decoration: none;
}

.menu {
  background-color: white;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.7);
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0px;
}

.menu ul li {
  font-size: 13px;
  font-family: "Pretendard Regular";
  color: #242424;
}

.tt_category,
.category_list,
.sub_category_list {
  list-style-type: none;
}

.link_tit,
.link_item,
.link_sub_item {
  color: #222;
  font-weight: bold;
  text-decoration-line: none;
}

.category_list > li {
  width: 230px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
}

.link_item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 5px;

  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.link_item:hover {
  background-color: rgba(191, 117, 229, 0.2);
}
