@charset "UTF-8";

body,
div,
dlv,
p,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  border-style: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding-left: 0px;
}

a {
  color: #222;
  text-decoration: none;
}

/* a:active, a:hover {text-decoration:underline;} */
/* a:active {background-color:transparent;} */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b,
strong {
  font-weight: bolder;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-LIGHT.OTF");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-REGULAR.OTF");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-MEDIUM.OTF");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-SEMIBOLD.OTF");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-BOLD.OTF");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-EXTRABOLD.OTF");
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("./images/PRETENDARD-BLACK.OTF");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh; /* 뷰포트의 전체 높이 */
  overflow: hidden; /* 부모 컨테이너에서 스크롤 막기 */
}

.left_sidebar {
  width: 250px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto; /* 세로 스크롤을 허용 */
  overflow-x: hidden; /* 가로 스크롤을 숨김 */
  -ms-overflow-style: none; /* 인터넷 익스플로러, 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.left_sidebar::-webkit-scrollbar {
  display: none;
}

.main_content {
  position: relative;
  flex-grow: 1;
  overflow-y: auto; /* 세로 스크롤을 허용 */
  overflow-x: hidden; /* 가로 스크롤을 숨김 */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(101, 101, 101, 0.3);
}

.profile_img {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  padding: 30px 0 20px 0;
}

.profile_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.profile_title {
  text-align: center;
}

.profile_title a {
  font-size: 18px;
  color: #242424;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(235, 235, 235, 0.2);
}

.profile_desc {
  font-size: 13px;
  font-weight: 400;
  color: #434343;
  padding-top: 5px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(235, 235, 235, 0.2);
  text-decoration: none;
}

.menu {
  background-color: white;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 25px 0 25px 0;
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.7);
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0px;
}

.menu ul li {
  font-size: 13px;
  font-weight: 400;
  color: #242424;
}
/* 
.counter {
  font-size: 16px;
  font-weight: 500;
  color: #434343;
}

.total_count {
  font-size: 26px;
  font-weight: 700;
} */

.tt_category,
.category_list,
.sub_category_list {
  list-style-type: none;
}

.link_item,
.link_sub_item {
  color: #222;
  font-weight: 500;
}

.category_list > li {
  display: flex;
  align-items: center;
  width: 230px;
  height: 40px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;

  transition-property: background-color;
  transition-duration: 0.3s;
}

.category_list > li:hover {
  background-color: rgba(191, 117, 229, 0.2);
}

.category_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 10px 0 10px;
}

.sub_category_list {
  display: none;
}

.link_tit {
  display: block;
  color: #222;
  font-weight: 700;
  margin: 30px 10px 20px 20px;
}

.link_item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.posts {
  display: flex;
}

.post_card {
  width: 370px;
  height: 470px;
  border-radius: 15px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  margin: 10px;
}

.post_thumbnail,
.post_text {
  width: 100%;
  height: 50%;
}

.post_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.post_details {
  width: 100%;
}

.post_details_thumbnail {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.post_details_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.article_header {
  position: absolute;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.article_information {
  display: flex;
}

#postArticle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.article_rep {
  width: 768px;
}
